#navBar { width: 100%; }
#navBarPrev { float:left; width:33.33%; }
#navBarHome { float:left; width:33.33%; }
#navBarNext { float:left; width:33.33%; }

#prev { display: block; width: 100%; height: 100%; margin: 0; padding: 0}

#navBarMain { width:155px; margin:0 auto; }

#homeLogo { padding-top:10px; width:100%; margin:auto; }

.lessonsButton { width:130px; margin:0 25px; }
.lessonsButton a { text-decoration: none; color: rgba(82,155,234,255); }

.coursesButton { width:46px; margin:0 auto;	}
#act_lessons_button { }
